@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Change{
	<label>Skipped List</label>
}


			<div id="page-wrapper">
				<div class="graphs">
                 
                         
                  <div class="container">
                    <br>
                      <br>
                      <div class= "col-md-12">
                          
                          <div class="col-md-2 col-md-offset-4">
                              <label>Enter Password</label>
                              
                          </div>
                          <div class="col-md-5">
                              <input type="password" name="pwd" class="form-control1" id="focusedinput" placeholder="Password" />
                          </div>
                          <div class="col-md-1">
                               <input type="image" src="~/Content/images/search.png" width="30" alt="Submit" />
                          </div>
                      </div>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                      
                      <div class="col-md-12">
                      <div class="col-md-2 col-md-offset-4">
                        <label>&nbsp;&nbsp;Total Page:</label>
                      </div>
                    </div>
               
                          
                          <br>
                          <br>
                      
                      <div class="col-md-12">
                      <div class="col-md-2 col-md-offset-4">
                        <label>&nbsp;&nbsp;Overall Average:</label>
                      </div>
                    </div>
                      
                        <br>
                        <br>
                      
                      <div class="col-md-12">
                      <div class="col-md-2 col-md-offset-4">
                        <label>&nbsp;&nbsp;Test Title:</label>
                      </div>
                    </div>
                      
                          
                          <br>
                          <br>
                      
                      <div class="col-md-12">
                      <div class="col-md-2 col-md-offset-4">
                        <label>&nbsp;&nbsp;Test Date:</label>
                      </div>
                    </div>
                      
                         <br>
                          <br>
                      
                      <div class="col-md-12">
                      <div class="col-md-2 col-md-offset-4">
                        <label>&nbsp;&nbsp;Test ID:</label>
                      </div>
                    </div>
                      
                       <br>
                          <br>
                          <br>
                          <br>
                          <br>
                      
                      
               
               
               
                    
                  
            
            
                    

                        
                    
                    <div class="col-md-11 col-md-offset-3">
									<div class="col-sm-1">
                                   <u><a href="#">Wikipedia</a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> Calculator</a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#">  Maps </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                  <u><a href="#"> Currency </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> WorldClock </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> Translator </a></u>
                                    </div>
                                    </div>
					
					<div class="bs-example" data-example-id="form-validation-states">
    <form>
    
    							<!--<div class="form-group has-success">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with success</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										<input type="text" class="form-control1" id="inputSuccess1">
									</div>
                                    </div>-->
                                    
                                    <!--<div class="form-group has-warning">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with warning</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										<input type="text" class="form-control1" id="inputWarning1">
									</div>
                                    </div>-->
                                    
                                    <!--<div class="form-group has-error">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with error</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										 <input type="text" class="form-control1" id="inputError1">
									</div>
                                    </div>-->

    </form>
  </div>
  				</div>		
				</div>
			</div>
		</div>