@{
    Layout = "/Views/Shared/_QLayout.cshtml";
}

@section DD{
        <ul class="dropdown-menu">
										
										
										<li><a href="#">
											Back
										</a></li>
                                        <li><a href="#">
											Main Panel
										</a></li>
                                        <li><a href="#">
											Synonym
										</a></li>
                                        </a></li>
										<li><a href="#">
											Edit
										</a></li>
										<li><a href="#">
											Add to Favourties
										</a></li>
										<li><a href="#">
											Create Test
										</a></li>
										<li><a href="#">
											Delete Selection
										<li><a href="#">
											Delete All
										</a></li>
										
										<li><a href="#">
    											Created Crossword
										</a></li>
										<li><a href="#">
											Random Crossword
										
                                            </a>
                                            </li>
                                            <li><a href="#">
											Archives
										
                                            </a>
                                            </li>
										
										
									</ul>    
    }

@section ChangeQ{
        <label>Test Summary</label>
    }
			<div id="page-wrapper">
		
                 <div class="row">
                        <div class = "col-md-12">
                        <div class="col-md-2 col-md-offset-8">
                            
                            <p> <u>Manage Account </u></p>
                            
                       </div>
                         <div class="col-md-2">
                            
                            <p> <u>Log Off </u></p>
                            
                       </div>
                            
                      </div>
           
                        
                </div>
                        
                 
                         
                  <div class="container">
                    <br>
                      <br>
                      <div class= "col-md-12">
                          
                          <div class="col-md-2 col-md-offset-2">
                              <label>Enter Password</label>
                              
                          </div>
                          <div class="col-md-5">
                              <input type="password" name="pwd" class="form-control1" id="focusedinput" placeholder="Password" />
                          </div>
                          <div class="col-md-1">
                               <input type="image" src="~/Content/images/search.png" width="30" alt="Submit" />
                          </div>
                      </div>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                      
                      <div class="col-md-12">
                      <div class="col-md-2 col-md-offset-4">
                          <label>List Of Invitees</label>
                    <textarea  style="height: 346px; width: 471px;"type="text" class="form-control1" id="focusedinput" placeholder="Default Input"> </textarea>
                      </div>
                    </div>
               
                      
                      
               
               
               
                    
                  
            
            
                    

                        
                    
                    <div class="col-md-11 col-md-offset-3">
									<div class="col-sm-1">
                                   <u><a href="#">Wikipedia</a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> Calculator</a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#">  Maps </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                  <u><a href="#"> Currency </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> WorldClock </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> Translator </a></u>
                                    </div>
                                    </div>
					
					<div class="bs-example" data-example-id="form-validation-states">
    <form>
    
    							<!--<div class="form-group has-success">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with success</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										<input type="text" class="form-control1" id="inputSuccess1">
									</div>
                                    </div>-->
                                    
                                    <!--<div class="form-group has-warning">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with warning</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										<input type="text" class="form-control1" id="inputWarning1">
									</div>
                                    </div>-->
                                    
                                    <!--<div class="form-group has-error">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with error</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										 <input type="text" class="form-control1" id="inputError1">
									</div>
                                    </div>-->

    </form>
  </div>
  				</div>		
				</div>
			</div>
		</div>