@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Change{
	<label style="color: blue">Review Word</label>
}



			<div id="page-wrapper">
				<div class="graphs">
                    <div class="row">
                        
                        <div class="col-md-2">
                            
                            <p style="color:blue; padding:5px 0px 0px 80px">Enter Word:</p>
                            
                       </div>
                        
                        
                        <div class="col-md-2">
                        <input class="form-control" id="ex1" type="text">
                            
                        </div>
                        
                          <div clas="col-md-2">
                            <input type="image" src="~/Content/images/search.png" width="30" alt="Submit" />
                  
                        </div>
                        
                        
                        
                        
                        
                      
                    
                             
                    </div>
                    <br>
                    
                   
                         
                            <div class="col-md-12">



                                   <div class="col-md-4">

                                       <table class="table table-bordered col-md-offset-4" style="width:200px"> 
                                                <tbody><tr>

                                                    <th><a href="#"> Type Recalled Words</a></th>
                                               
                                                </tr>
                                                <tr>

                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                   
                                                </tr>
                                                    <tr>

                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                   
                                                </tr>
                                                    <tr>

                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                    
                                                </tbody>
                                         </table>
                                       
                                             <div class="row">
                                                 <div class="col-md-10">
                                                      <table class="table table-bordered col-md-offset-3">
                                                <tbody><tr>

                                                    <th style="text-align: center"><a href="#">Word</a></th>
                                                    <th style="text-align: center"><a href="#">Select</a></th>
                                                    <th style="text-align: center"><a href="#">OverAll %</a></th>
                                               
                                                </tr>
                                                <tr>

                                                    <td></td>
                                                   <td style="text-align: center;"><input type=checkbox /></td>	
                                                    <td></td>
                                                   
                                                </tr>
                                                    <tr>

                                                    <td></td>
                                                    <td style="text-align: center;"><input type=checkbox /></td>	
                                                    <td></td>
                                                   
                                                </tr>
                                                    <tr>

                                                    <td></td>
                                                    <td style="text-align: center;"><input type=checkbox /></td>	
                                                    <td></td>
                                                </tr>
                                                    
                                                </tbody>
                                         </table>
                                       
                                                 </div>
                                            </div>
                                </div>
                               

                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <label>DataBase Word</label>
                                    <input type="text" class="form-control1" id="focusedinput" placeholder="Default Input">
                                    <br>
                                    <br>
                                     <label> Pronounciation</label>
                                    <input type="text" class="form-control1" id="focusedinput" placeholder="Default Input">
                                    <br>
                                    <br>
                                     <label> Captured Phrase</label>
                                    <input type="text" class="form-control1" id="focusedinput" placeholder="Default Input">
                                    <br>
                                    <br>
                                     <label> Hint</label>
                                    <textarea type=text class="form-control1" id="focusedinput" placeholder="Default Input"> </textarea>
                                    <br>
                                    <br>
                                     <label> Defination</label>
                                    <textarea type="text" class="form-control1" id="focusedinput" placeholder="Default Input"> </textarea>
                                </div>
                                <div class="col-md-1">
                                    <br>            
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <input type="image" src="~/Content/images/sp.png" width=50 alt="Submit" />
                                    <br>
                                    <br>
                                    <br>
                                    <input type="image" src="~/Content/images/b3.jpg"/>

                                    <br>
                                    <br>
                                    <br>
                                    <input type="image" src="~/Content/images/b2.jpg"/>

                                    <br>
                                    <br>
                                    <br>
                                    <input type="image" src="~/Content/images/b1.jpg"/>
                                </div>


                            </div>
                              

                                    <div class="col-md-11 col-md-offset-3">
                                                    <div class="col-sm-1">
                                                   <u><a href="#">Wikipedia</a></u>
                                                    </div>
                                                    <div class="col-sm-1">
                                                   <u><a href="#"> Calculator</a></u>
                                                    </div>
                                                    <div class="col-sm-1">
                                                   <u><a href="#">  Maps </a></u>
                                                    </div>
                                                    <div class="col-sm-1">
                                                  <u><a href="#"> Currency </a></u>
                                                    </div>
                                                    <div class="col-sm-1">
                                                   <u><a href="#"> WorldClock </a></u>
                                                    </div>
                                                    <div class="col-sm-1">
                                                   <u><a href="#"> Translator </a></u>
                                                    </div>
                                    </div>


                            
  				</div>		
				</div>
			</div>
		</div>