@{
    Layout = "/Views/Shared/_QLayout.cshtml";
}

@section DD{
        <ul class="dropdown-menu">
										
										
										<li><a href="#">
											Back
										</a></li>
                                        <li><a href="#">
											Main Panel
										</a></li>
                                        <li><a href="#">
											Synonym
										</a></li>
                                        </a></li>
										<li><a href="#">
											Edit
										</a></li>
										<li><a href="#">
											Add to Favourties
										</a></li>
										<li><a href="#">
											Create Test
										</a></li>
										<li><a href="#">
											Delete Selection
										<li><a href="#">
											Delete All
										</a></li>
										
										<li><a href="#">
    											Created Crossword
										</a></li>
										<li><a href="#">
											Random Crossword
										
                                            </a>
                                            </li>
                                            <li><a href="#">
											Archives
										
                                            </a>
                                            </li>
										
										
									</ul>
    }

@section ChangeQ{
        <label>Share With Individuals</label>
    }
			<div id="page-wrapper">
			
                    <div class="row">
                        <div class = "col-md-12">
                            <br>
                        <div class="col-md-2">
                            
                            <p style="color:blue; padding:5px 0px 0px 80px">Enter Key Word:</p>
                            
                       </div>
                        
                        
                        <div class="col-md-2">
                        <input class="form-control" id="ex1" type="text">
                            
                        </div>
                            
                    <div clas="col-md-1">
                            <input type="image" src="~/Content/images/search.png" width="20" alt="Submit" />
                            
                  
                        </div>
                        
                        
                         
                        <div class="col-md-2 col-md-offset-1">
                        
                                <label>Selected Words: </label>
                        </div>
                   <div class="col-md-2">
                            
                            <p style="color:blue; padding:5px 0px 0px 80px">Enter Key Word:</p>
                            
                       </div>
                        
                        
                        <div class="col-md-2">
                        <input class="form-control" id="ex1" type="text">
                            
                        </div>
                            
                    <div clas="col-md-1">
                            <input type="image" src="~/Content/images/search.png" width="20" alt="Submit" />
                            <u>Clear</u>
                  
                        </div>
                        
                            
                      </div>
           
                       
                        
                        
                        
                        
                      
                    
                             
                    </div>
                    <br>
                         
                    <div class="col-md-12">
                       
					
                
                 

                    <div class="col-md-5 col-md-offset-3">
                        <label>First Enter UserName</label>
                        <input type="text" class="form-control1" id="focusedinput" placeholder="Default Input">
                        <br>
                        <br>
                         <label> Password</label>
                            <p>ABC</p>
                        
                        <br>
                         <label> Results </label>
                        <input type="text" class="form-control1" id="focusedinput" placeholder="Default Input">
                         
                        <br>
                        <br>
                        
                        
                        
                    </div>
                       
                    <div class="col-md-1">
                        <br>
                           <input type="image" src="~/Content/images/search.png" width="30" alt="Submit" />
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <input type="image" src="~/Content/images/b2.jpg" width="90%" alt="Submit" />
                    </div>
                        
                    
        
                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-5 col-md-offset-1">
                        
                            <table class="table table-bordered">
                                    <tbody>
                                           
                                        <th>Question</th>
                                        <th width="30%">Category</th>
                                        <th width="20%">Select</th>
                                     
                                        
                                        <tr>
                                            
                                            
                                            <td></td>
                                             <td width="30%"></td>
                                            <td width="20%" style="text-align: center;"><input type=checkbox /></td>
                                           
                                   
                                       	
                                        </tr>
                                        
                                       
                                     
                                  
                                        
                                        <tr>
                                            
                                            
                                            <td></td>
                                             <td width="30%"></td>
                                            <td width="20%" style="text-align: center;"><input type=checkbox /></td>
                                           
                                
                                       	
                                        </tr>
                                        
                                        <tr>
                                            
                                            
                                            <td></td>
                                             <td width="30%"></td>
                                            <td width="20%" style="text-align: center;"><input type=checkbox /></td>
                                           
                              
                                       	
                                        </tr>
                                       
                      
                     
                                 
                                    </tbody>
                             </table>
                        </div>
                        
                        <div class="col-md-4">
                        
                         <label>List Of Invitees </label>
                        <textarea type=text class="form-control1" id="focusedinput" placeholder="Default Input" style="margin: 0px;height: 199px;width: 464px;"> </textarea>
                        <br>
                        <br></div>
                    </div>
                  

                        
                    
                    <div class="col-md-11 col-md-offset-3">
									<div class="col-sm-1">
                                   <u><a href="#">Wikipedia</a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> Calculator</a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#">  Maps </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                  <u><a href="#"> Currency </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> WorldClock </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> Translator </a></u>
                                    </div>
                                    </div>
					
					<div class="bs-example" data-example-id="form-validation-states">
    <form>
    
    							<!--<div class="form-group has-success">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with success</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										<input type="text" class="form-control1" id="inputSuccess1">
									</div>
                                    </div>-->
                                    
                                    <!--<div class="form-group has-warning">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with warning</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										<input type="text" class="form-control1" id="inputWarning1">
									</div>
                                    </div>-->
                                    
                                    <!--<div class="form-group has-error">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with error</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										 <input type="text" class="form-control1" id="inputError1">
									</div>
                                    </div>-->

    </form>
  </div>
  				
				</div>
			</div>
		</div>