@{
    Layout = null;    
}

<html>
    <h1>Index</h1>
    
    <body>
        <a href="~/MainPanel/mainPanel" style="color:blue">Wordutopia</a><br>
        <a href="~/MainPanelQ/mainPanelQ" style="color:green">Quester</a><br>
        <a href="~/MainPanelC/mainPanelC" style="color:red">Choicer</a>
    </body>

</html>