@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Change{
	<label>Share Word Online</label>
}


			<div id="page-wrapper">
				<div class="graphs">
                    
                    
                    <br>
                         
                       <div class="col-md-12">
                       
					   <div class="col-md-10 col-md-offset-1">
						 <div class="span3">
                                  <table class="table table-bordered">
                                    <tbody>
                                           
                                        <th width="20%">Word</th>
                                        <th width="10%">Select</th>
                                        <th>Phrase</th>
                                        <th>Defination</th>
                                        
                                        <tr>
                                            <td width="20%"></td>
                                            <td width="10%" style="text-align: center;"><input type=checkbox /></td>
                                            <td></td>
                                            <td></td>
                                       	
                                        </tr>
                                       
                                          
                                        <tr>
                                            <td width="20%"></td>
                                            <td width="10%" style="text-align: center;"><input type=checkbox /></td>
                                            <td></td>
                                            <td></td>
                                       	
                                        </tr>
                                       
                                          
                                        <tr>
                                            <td width="20%"></td>
                                            <td width="10%" style="text-align: center;"><input type=checkbox /></td>
                                            <td></td>
                                            <td></td>
                                       	
                                        </tr>
                                       
                                          
                                        <tr>
                                            <td width="20%"></td>
                                            <td width="10%" style="text-align: center;"><input type=checkbox /></td>
                                            <td></td>
                                            <td></td>
                                       	
                                        </tr>
                                       
                                          
                                        <tr>
                                            <td width="20%"></td>
                                            <td width="10%" style="text-align: center;"><input type=checkbox /></td>
                                            <td></td>
                                            <td></td>
                                       	
                                        </tr>
                                         
                                        <tr>
                                            <td width="20%"></td>
                                            <td width="10%" style="text-align: center;"><input type=checkbox /></td>
                                            <td></td>
                                            <td></td>
                                       	
                                        </tr>
                                       
                                          
                                        <tr>
                                            <td width="20%"></td>
                                            <td width="10%" style="text-align: center;"><input type=checkbox /></td>
                                            <td></td>
                                            <td></td>
                                       	
                                        </tr>
                                       
                                          
                                        <tr>
                                            <td width="20%"></td>
                                            <td width="10%" style="text-align: center;"><input type=checkbox /></td>
                                            <td></td>
                                            <td></td>
                                       	
                                        </tr>
                                       
                                          
                                        <tr>
                                            <td width="20%"></td>
                                            <td width="10%" style="text-align: center;"><input type=checkbox /></td>
                                            <td></td>
                                            <td></td>
                                       	
                                        </tr>
                                       
                                          
                                        <tr>
                                            <td width="20%"></td>
                                            <td width="10%" style="text-align: center;"><input type=checkbox /></td>
                                            <td></td>
                                            <td></td>
                                       	
                                        </tr>
                                       
                                        
                                        
                                    
                                    
                     
                                 
                                    </tbody>
                             </table>
                </div>
                            </div>
                
                 

                  
                    
                        
                    
        
                    </div>
                <div class="col-md-1" style="margin-left: 20%;">
                         <label>Select All</label>
                    
                    </div>
                        
                    <div class="col-md-1 " >
                        <input type="checkbox"/>
                     
                        
                    </div>
                    <div>
                        <label>1 2 3 4 5 6 >></label>
                    </div>
                  

                

                        
                    
                    <div class="col-md-11 col-md-offset-3">
									<div class="col-sm-1">
                                   <u><a href="#">Wikipedia</a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> Calculator</a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#">  Maps </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                  <u><a href="#"> Currency </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> WorldClock </a></u>
                                    </div>
                                    <div class="col-sm-1">
                                   <u><a href="#"> Translator </a></u>
                                    </div>
                                    </div>
					
					<div class="bs-example" data-example-id="form-validation-states">
    <form>
    
    							<!--<div class="form-group has-success">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with success</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										<input type="text" class="form-control1" id="inputSuccess1">
									</div>
                                    </div>-->
                                    
                                    <!--<div class="form-group has-warning">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with warning</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										<input type="text" class="form-control1" id="inputWarning1">
									</div>
                                    </div>-->
                                    
                                    <!--<div class="form-group has-error">
                                <div class="col-sm-8 col-lg-offset-2">
									<label class="col-sm-2 control-label label-input-lg">Input with error</label>
                                    </div>
                                    <br>
                                    <br>
									<div class="col-sm-8 col-lg-offset-2">
										 <input type="text" class="form-control1" id="inputError1">
									</div>
                                    </div>-->

    </form>
  </div>
  				</div>		
				</div>
			</div>
		</div>